{% extends "base_layout.html.twig" %}

{% block main %}

    <h1>Passwort ändern</h1>

    {{ form_start(changePasswordForm) }}

    <div class="form-group">
        {{ form_label(changePasswordForm.oldPassword) }}
        {{ form_widget(changePasswordForm.oldPassword, {attr: {placeholder: "Dein ALTES Passwort"}}) }}
        {{ form_errors(changePasswordForm.oldPassword) }}
    </div>
    <br>

    <div class="form-group">
        {{ form_label(changePasswordForm.password.first) }}
        {{ form_widget(changePasswordForm.password.first, {attr: {placeholder: "Dein NEUES Passwort"}}) }}
        {{ form_errors(changePasswordForm.password.first) }}

        {{ form_label(changePasswordForm.password.second) }}
        {{ form_widget(changePasswordForm.password.second, {attr:{placeholder: "Dein neues Passwort WIEDERHOLEN"}}) }}
        {{ form_errors(changePasswordForm.password.second) }}
    </div>

    <a class="btn btn-secondary" role="button" href="{{ path('home') }}">zurück zur Homepage</a>
    {{ form_label(changePasswordForm.submit) }}
    {{ form_widget(changePasswordForm.submit, {attr:{class:"btn btn-success"}}) }}


    {{ form_end(changePasswordForm) }}

{% endblock main %}