{% extends "base.html.twig" %}

{% block content %}

    <h1>Deine Helden</h1>

    <div class="d-flex flex-wrap">

        {% for playerCharacterInfo in character %}
            {% if user == playerCharacterInfo.user or is_granted('ROLE_ADMIN') %}
                <figure class="figure">
                    <a href="{{ path('change_character', {id: playerCharacterInfo.id}) }}">
                        <img src="{{ asset("images/add_more.jpg") }}" class="rounded-lg">
                        <figcaption class="figure-caption text-right">
                            {{ playerCharacterInfo.characterName }}
                        </figcaption>
                    </a>
                </figure>

            {% endif %}
        {% endfor %}

        <figure class="figure">
            <a href="{{ path('create_new_character') }}">
                <img src="{{ asset("images/add_more.jpg") }}" alt="neuen Helden erstellen" class="rounded-lg">
                <figcaption class="figure-caption text-right">
                    Neuen Held erstellen.
                </figcaption>
            </a>
        </figure>

    </div>

{% endblock content %}