{% extends "campaign_layout.html.twig" %}

{% block content %}

    <h3>Möchtest du den NSC <em>"{{ nsc.characterName }}"</em> wirklich löschen?</h3>

    <p>Diese Aktion kann nicht rückgängig gemacht werden.</p>

    {{ form_start(deleteNscForm) }}

    <a class="btn btn-light" role="button" href="{{ path('change_character', {characterId: nscId}) }}">
        Zurück
    </a>

    {{  form_label(deleteNscForm.submit) }}
    {{ form_widget(deleteNscForm.submit, {attr: {class:"btn btn-danger"}}) }}

    {{ form_end(deleteNscForm) }}

{% endblock content %}