{% extends "base.html.twig" %}

{% block content %}

    <h3>Möchtest du den Held <em>"{{ character.characterName }}"</em> wirklich löschen?</h3>

    <p>Diese Aktion kann nicht rückgängig gemacht werden.</p>

    {{ form_start(deleteCharacterForm) }}

    <a class="btn btn-light" role="button" href="{{ path('change_character', {id: id}) }}">
        Zurück
    </a>

    {{  form_label(deleteCharacterForm.submit) }}
    {{ form_widget(deleteCharacterForm.submit, {attr: {class:"btn btn-danger"}}) }}

    {{ form_end(deleteCharacterForm) }}


{% endblock content %}