{% extends "campaign_layout.html.twig" %}

{% block content %}

    <h3>Möchtest du dein Eintrag <em>"{{ content.title }}"</em> wirklich löschen?</h3>

    <p>Der Eintrag wird dabei aus allen Kampagnen und Abenteuern entfernt. Diese Aktion kann nicht rückgängig gemacht
        werden.</p>

    {{ form_start(deleteConfirmationForm) }}

    <a class="btn btn-light" role="button" href="{{ path('change_content', {contentId: content.id}) }}">
        Zurück
    </a>

    {{  form_label(deleteConfirmationForm.submit) }}
    {{ form_widget(deleteConfirmationForm.submit, {attr: {class:"btn btn-danger"}}) }}

    {{ form_end(deleteConfirmationForm) }}


{% endblock content %}