{% extends "campaign_layout.html.twig" %}

{% block content %}

    {{ form_start(CampaignForm) }}

    <div class="form-group">
        <div class="row">
            <div class="col col-lg-10">
                <h1>Kampagne: {{ campaign_name }}</h1>
            </div>
            <div class="col col-lg-2">

                <a class="btn btn-secondary float-right" role="button" href="{{ path('campaigns') }}">Zurück</a>
            </div>
        </div>
    </div>


    <div class="form-group">
        <h2>{{ form_label(CampaignForm.title) }}</h2>
        {{ form_widget(CampaignForm.title, {attr:{size:"90%"}}) }}
        {{ form_errors(CampaignForm.title) }}
    </div>

    <div class="form-group">
        <h2>{{ form_label(CampaignForm.blurb) }}</h2>
        {{ form_widget(CampaignForm.blurb, {attr:{rows:"10", cols:"90%",
            placeholder: "Schreibe hier deine Zusammenfassung hin"}}) }}
        {{ form_errors(CampaignForm.blurb) }}
    </div>

    <div class="form-group">
        <a class="btn btn-secondary" role="button" href="{{ path('campaigns') }}">Änderungen VERWERFEN</a>

        {{ form_label(CampaignForm.submit) }}
        {{ form_widget(CampaignForm.submit, {attr:{class:"btn btn-success"}}) }}

        <a class="btn btn-danger" role="button" href="{{ path('delete_campaign', {campaignId: campaignId}) }}">Diese Kampagne löschen</a>
    </div>


    <div class="form-group">
        <h2>Abenteuer</h2>

        {% for adventure in adventures %}
            <div class="form-group">
                <div class="row">
                    <div class="col col-lg-2">
                        <a class="btn btn-secondary" role="button"

                           href="{{ path('change_adventures',
                               {campaignId: campaignId, adventureId: adventure.id}) }}">Bearbeiten</a>

                    </div>
                    <div class="col col-lg-10">
                        <h3>{{ adventure.title }}</h3>
                        {{ adventure.blurb }}
                    </div>
                </div>
            </div>
        {% endfor %}

        <a class="btn btn-success" role="button"
           href="{{ path('add_adventures', {campaignId: campaignId}) }}">Abenteuer hinzufügen</a>

        <a class="btn btn-danger" role="button"
           href="{{ path('delete_adventure', {campaignId: campaignId}) }}">Abenteuer löschen</a>

    </div>

    <div class="form-group">
        <h2>Helden und NSCs</h2>
        {% for playerCharacter in playerCharacters %}
            <div class="form-group">
                <div class="row">
                    <div class="col col-lg-2">
                        <a class="btn btn-secondary" role="button"

                           href="{{ path('change_character',
                               {campaignId: campaignId, characterId: playerCharacter.id}) }}">Bearbeiten</a>

                    </div>
                    <div class="col col-lg-10">
                        <h3>{{ playerCharacter.characterName }}</h3>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    <a class="btn btn-secondary float-right" role="button" href="{{ path('campaigns') }}">Zurück</a>

    {{ form_end(CampaignForm) }}


{% endblock content %}
