{% extends "base.html.twig" %}

{% block content %}

    {{ form_start(changeCampaignForm) }}
    <div class="form-group">
        <div class="row">
            <div class="col col-lg-10">
                <h1>Kampagne: {{ campaign_name }}</h1>
            </div>
            <div class="col col-lg-2">
                <a class="btn btn-secondary float-right" role="button" href="{{ path('campaigns') }}">Zurück</a>
            </div>
        </div>
    </div>

    <div class="form-group">
        <h2>{{ form_label(changeCampaignForm.title) }}</h2>
        {{ form_widget(changeCampaignForm.title, {attr:{size:"90%"}}) }}
        {{ form_errors(changeCampaignForm.title) }}
    </div>

    <div class="form-group">
        <h2>{{ form_label(changeCampaignForm.blurb) }}</h2>
        {{ form_widget(changeCampaignForm.blurb, {attr:{rows:"10", cols:"90%",
            placeholder: "Schreibe hier deine Zusammenfassung hin"}}) }}
        {{ form_errors(changeCampaignForm.blurb) }}
    </div>

    <div class="form-group">
        <a class="btn btn-secondary" role="button" href="{{ path('campaigns') }}">Änderungen VERWERFEN</a>
        {{ form_label(changeCampaignForm.submit) }}
        {{ form_widget(changeCampaignForm.submit, {attr:{class:"btn btn-success"}}) }}
    </div>


    <div class="form-group">
        <h2>Abenteuer</h2>

        {% for adventure in adventures %}
            <div class="form-group">
                <div class="row">
                    <div class="col col-lg-2">
                        <a class="btn btn-secondary" role="button"
                           href="{{ path('change_adventures', {campaignId: campaign_id, adventureId: adventure.id}) }}">Bearbeiten</a>
                    </div>
                    <div class="col col-lg-10">
                        <h3>{{ adventure.title }}</h3>
                        {{ adventure.blurb }}
                    </div>
                </div>
            </div>
        {% endfor %}

        <a class="btn btn-success" role="button"
           href="{{ path('add_adventures', {id: campaign_id}) }}">Abenteuer hinzufügen</a>
    </div>

    <div class="form-group">
        <h2>Helden</h2>
        --Platzhalter--
        {# for-Schleife für Helden
        <a class="btn btn-secondary" role="button" href="{{ path('add_adventure') }}">Held hinzufügen</a>
        #}
    </div>

    <a class="btn btn-secondary float-right" role="button" href="{{ path('campaigns') }}">Zurück</a>
    {{ form_end(changeCampaignForm) }}


{% endblock content %}
