<ul class="nav flex-column border-bottom border-light">

    {% if is_granted('ROLE_USER') %}

    <a href="{{ path('home') }}" style="color: #e0ddcf;"> Home </a>

    <div><br></div>

    <h2 style="color: #e0ddcf;"> Kampagnen</h2>

    <div>
        {% for every_campaign in campaigns %}
            <li {% if app.request.attributes.get('campaignId') == 'campaignId' %} style="font-weight: bold" {% endif %}> {# FUNKTIONIERT NOCH NICHT#}
                <a href="{{ path('display_campaign', {campaignId: every_campaign.id}) }}" style="color: #e0ddcf;">
                    {{ every_campaign.title }}</a>
            </li>
        {% endfor %}
        <br>
        <a href="{{ path('campaigns') }}" style="color: #e0ddcf; font-style: italic">Kampagnendetails</a>
        <br>

    </div>

    <div><br></div>

    <div>
        <a href="{{ path('add_campaigns') }}" style="color: #e0ddcf; font-style: italic">
            Neue Kampagne erstellen</a>
    </div>

    <div><br></div>
</ul>

<div><br></div>

<h4 style="color: #e0ddcf;">Profiloptionen</h4>

<ul class="nav flex-column">
    <li class="nav-item">
        <a href="{{ path('change_name') }}" style="color: #e0ddcf;">Name Ändern</a>
    </li>
    <li class="nav-item">
        <a href="{{ path('change_email') }}" style="color: #e0ddcf;">E-Mail Ändern</a>
    </li>
    <li class="nav-item">
        <a href="{{ path('change_password') }}" style="color: #e0ddcf;">Passwort Ändern</a>
    </li>

    <div><br></div>

    <li class="nav-item">
        <a href="{{ path('logout') }}" style="color: #e0ddcf;">Log out</a>
    </li>
    {% endif %}

    {% if not is_granted('ROLE_USER') %}
        <li class="nav-item">
            <a href="{{ path('login') }}" style="color: #e0ddcf;">Log in</a>
        </li>

        <li class="nav-item">
            <a href="{{ path('registration') }}" style="color: #e0ddcf;">Registrieren</a>
        </li>

    {% endif %}

    <div><br></div>

</ul>