<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

        <li class="nav-item {% if app.request.attributes.get('_route') == 'view_content' %} active {% endif %}">
            <a class="nav-link" href="{{ path('view_content') }}">Bibliothek</a>
        </li>

        {% if is_granted('ROLE_USER') %}
            <li class="nav-item {% if app.request.attributes.get('_route') == 'add_content' %} active {% endif %}">
                <a class="nav-link" href="{{ path('add_content') }}">Notizbuch</a>
            </li>

            {% if not is_granted('ROLE_ADMIN') %}

                <li class="nav-item {% if app.request.attributes.get('_route') == 'character_sheet' %} active {% endif %}">
                    <a class="nav-link" href="{{ path('character_sheet') }}">Heldendokument</a>
                </li>

            {% endif %}


            <li class="nav-item {% if app.request.attributes.get('_route') == 'all_nsc' %} active {% endif %}">
                <a class="nav-link" href="{{ path('all_nsc') }}">NSCs</a>
            </li>

            {# noch anpassen#}
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item {% if app.request.attributes.get('_route') == 'character_sheet' %} active {% endif %}">
                    <a class="nav-link" href="{{ path('character_sheet') }}">Spielerfiguren</a>
                </li>

            {% endif %}

        {% endif %}

    </ul>
</div>

<br>
