{% extends "campaign_layout.html.twig" %}

{% block content %}

    <h1>Schlagwörter hinzufügen</h1>

    {{ form_start(HeadwordForm) }}
    <br>
    {{ form_widget(HeadwordForm.headwordName, {attr: { placeholder: "Schlagwort hinzufügen"}}) }}

    <br>
    <a class="btn btn-secondary" role="button" href="{{ path('home') }}">Änderungen VERWERFEN</a>
    {{ form_label(HeadwordForm.submit) }}
    {{ form_widget(HeadwordForm.submit, {attr: {class:"btn btn-success"}}) }}

    {{ form_end(HeadwordForm) }}

    <br> <br>
    <h3>Bereits existierende Schlagwörter:</h3>
    <ul class="list-group list-group-horizontal">
        {% for every_headword in headwords %}
            <li class="list-group-item">{{ every_headword.headwordName }}</li>
        {% endfor %}
    </ul>

{% endblock %}