{% extends "campaign_layout.html.twig" %}

{% block content %}

    <h1>Schlagwörter verändern</h1>

    {{ form_start(HeadwordForm) }}

    {{ form_label(HeadwordForm.headwords) }}

    {% for headword in HeadwordForm.headwords %}
        {{ form_widget(headword) }}
        {{ form_errors(headword) }}
    {% endfor %}

    <br> <br>
    <a class="btn btn-secondary" role="button" href="{{ path('home') }}">Änderungen VERWERFEN</a>
    {{ form_label(HeadwordForm.submit) }}
    {{ form_widget(HeadwordForm.submit, {attr: {class:"btn btn-success"}}) }}

    {{ form_end(HeadwordForm) }}

{% endblock %}